<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>用户-users</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/css/coming-soon.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/图标书.ico"/>

</head>

<body>

<div class="overlay"></div>


<div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <div class="masthead-content text-white py-5 py-md-0">
                    <!--在这里输入内容-->


                    <div>
                        <a th:text="${ session?.user?.getUsername()}"> name </a>
                        <button th:id="btn" >的个人空间</button>
                        <!--    onClick="localRefresh()"-->
                    </div>

                    <!-- 需要局部刷新的部分，设置了th:fragment="table_refresh" -->
                    <div th:id="id_user_list" style="text-align: center;margin:0 auto;width: auto" th:fragment="user_list">
                        <!--    <h1 th:text="${title}"></h1>-->
                        <table width="100%" border="1" cellspacing="1" cellpadding="0">
                            <tr>
                                <td>type</td>
                            </tr>
                            <tr th:each="content : ${seen}" >
                                <td>
                                    <a th:href="@{/user/selflist(collectionTag = ${content.getTag()})}"
                                       th:text="${content.getTag()}" >collectionTag</a>
                                </td>
                            </tr>

                        </table>

                    </div>



                    <!--在这里输入内容-->
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/js/coming-soon.min.js"></script>

</body>

</html>
