<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>登录界面-login</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
    <link rel="shortcut icon" href="/图标书.ico"/>
  </head>
  
  <body>
    <h1>Login</h1>
    <p>New here? Click
      <a th:href="@{/user/register}">here</a> to register.</p>
    

    <form method="POST" th:action="@{/user/login}" id="loginForm">
    <!-- end::thAction[] -->
      <label for="username">Username: </label>
      <input type="text" name="username" id="username"  /><br/>

      
      <label for="password">Password: </label>
      <input type="password" name="password" id="password" /><br/>
      <span th:text="${loginError}==null?'View':${loginError}">NAME</span><br/>
      <input type="submit" value="Login"/>
    </form>
  </body>
</html>