<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.4.0/jquery.js"></script>
</head>

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${session?.user?.getUsername()}">内容展示</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div>
    <a th:text="${ session?.user?.getUsername()}"> name </a>
    <button th:id="btn" >的个人空间</button>
<!--    onClick="localRefresh()"-->
</div>

<!-- 需要局部刷新的部分，设置了th:fragment="table_refresh" -->
<div th:id="id_user_list" style="text-align: center;margin:0 auto;width: 900px" th:fragment="user_list">
<!--    <h1 th:text="${title}"></h1>-->
    <table width="100%" border="1" cellspacing="1" cellpadding="0">
        <tr>
            <td>type</td>
        </tr>
        <tr th:each="content : ${seen}" >
            <td>
                <a th:href="@{/user/selflist(collectionTag = ${content.getTag()})}"
                   th:text="${content.getTag()}" >collectionTag</a>
            </td>
        </tr>

    </table>



<!--    <ul class="pagination" style="margin-left: 50%">-->
<!--        <li class="page-item"><a class="page-link"><span th:text="第+${pageInfo.pageNum}+页"></span></a></li>-->
<!--        <li class="page-item"><a class="page-link" th:href="@{/user}">首页</a></li>-->
<!--        <li class="page-item"><a class="page-link" th:href="@{/user(pageNum=${pageInfo.pages})}">尾页</a></li>-->
<!--        <li class="page-item"><a class="page-link" th:href="@{/user(pageNum=${pageInfo.prePage})}">Last</a></li>-->
<!--        <li class="page-item"><a class="page-link" th:href="@{/user(pageNum=${pageInfo.getNextPage()})}">Next</a></li>-->
<!--    </ul>-->
</div>



<!--
    <form method="POST" th:action="@{/study/content/tags}" id="loginForm">
        <a th:value="${collectionName}" th:name="collectionName"></a>

        <label for="collectionName"> collectionName</label>
        <input type ="checkbox" name="collectionName"  id="collectionName" th:text="${collectionName}" th:checked="true"> <br>
        <label for="JVM">JVM: </label>
        <input type ="checkbox" name="JVM"  id="JVM" > <br>

        <label for="distributed-system">distributed-system: </label>
        <input type ="checkbox" name="distributed-system" id="distributed-system" >  <br>

        <input type="submit" value="getTags"  />
    </form>
    -->




</body>


</html>
<!--<script>-->
<!--    $('#btn').click(function () {-->
<!--        var url = '/user';-->
<!--        var nextNum = document.getElementById("currentPageNum").innerText;-->

<!--   //     $(".user_list").load(url);-->
<!--        $.ajax({-->
<!--            url: url,-->
<!--            type: 'POST',-->
<!--            data: {"pageNum": nextNum },-->
<!--            success: function (data) {-->
<!--                alert("success");-->
<!--                 $("#id_user_list").html(data);-->
<!--               // $(".user_list").load(url);-->
<!--            },-->
<!--            error: function() {-->
<!--                //TODO-->
<!--                alert("error,no more data");-->

<!--            }-->


<!--        })-->
<!--    })-->
<!--</script>-->


<!--<script>-->
<!--    function editCustomer() {-->
<!--        $.ajax({-->
<!--            type:"post",-->
<!--            url:"/usr",-->
<!--          //  data:{"":},-->
<!--            success:function(data) {-->
<!--                $("#edit_cust_id").val(data.cust_id);-->
<!--                $("#cust_name").val(data.cust_name);-->
<!--                $("#edit_customerFrom").val(data.cust_source);-->
<!--                $("#edit_custIndustry").val(data.cust_industry);-->
<!--                $("#edit_custLevel").val(data.cust_level);-->
<!--                $("#edit_linkMan").val(data.cust_linkman);-->
<!--                $("#edit_phone").val(data.cust_phone);-->
<!--                $("#edit_mobile").val(data.cust_mobile);-->
<!--                $("#edit_zipcode").val(data.cust_zipcode);-->
<!--                $("#edit_address").val(data.cust_address);-->

<!--            }-->
<!--        });-->
<!--    )-->

<!--</script>-->


